@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';

@layer base {
    html {
        font-family: var(--font-gilroy), sans-serif;
    }
}

html,
body {
    background-color: #fff;
}


.lenis {
    scroll-behavior: auto !important;
}

body {
    cursor: none;
}

@layer utilities {
    .container {
        @apply mx-auto px-3 sm:px-4 lg:px-6;
        max-width: 1550px;
        width: 100%;
    }
}



::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #14CF93;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    background-color: #0f9b7d;
}

body {
    scroll-behavior: smooth !important;
}